.container {
  min-height: 100vh;
  background-image: linear-gradient(#0f0f0f, #02041a);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 6rem;
  color: white;
}
