.container {
  min-height: 100vh;
  background-image: linear-gradient(to bottom left, #0f0f0f, #04003b, #400920, #210016);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-slide {
  height: 60vh;
  width: 50vw;
  background-color: black;
}

.title {
  font-size: 6rem;
  color: white;
}
