*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-font-color: #6a605c;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom left, #cdf7f6, #10f9f5);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10rem;
  /* position: relative; */
}

.heading-primary {
  color: var(--main-font-color);
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.heading-primary--title {
  margin-top: 5rem;
  font-size: 4rem;
  color: var(--main-font-color);
}

.heading-primary-main {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
}

.btn-container {
  display: flex;
  justify-content: center;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-6rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 200;
  animation: moveInRight 1s ease-out;
  backface-visibility: hidden;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(6rem);
  }

  80% {
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.navbar {
  position: absolute;
  left: 4rem;
  top: 2rem;
}

.projects {
  height: 100vh;
  width: 50vw;
  color: var(--main-font-color);
}

.projects-title {
  margin: 4rem 0rem;
  font-size: 5rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-size: 2rem;
}

.about-me {
  height: 50vh;
  width: 50vw;
  color: var(--main-font-color);
}

.about-title {
  font-size: 5rem;
  margin: 4rem 0rem;
}

.about-text {
  font-size: 2rem;
}

.contact {
  height: 50vh;
  width: 50vw;
  color: var(--main-font-color);
}

.contact-title {
  font-size: 5rem;
  margin: 4rem 0rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  font-size: 2rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  background-color: coral;
  padding: 1rem 4rem;
  color: white;
  border-radius: 5rem;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  background-color: coral;
  transform: translateY(-0.25rem);
  color: white;
  box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-orange::after {
  background-color: coral;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes moveBotton {
  0% {
    opacity: 0;
    transform: translateY(9rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-animated {
  animation: moveBotton 1s ease-in 0.75s;
  animation-fill-mode: backwards;
}
